*.docx
*.xlsx
*.txt
*.csv
*.zip
Archive/Testspace_1.ipynb
Archive/Testspace_2.ipynb
Archive/Untitled-1.ipynb
Code_Archive/Chemistry_Converter.ipynb
Code_Archive/Math_Converter.ipynb
Code_Archive/Physics_Converter.ipynb
